extends layout

block meta
    meta(name='Description', content='Jordi Fernandez, Symfony and Node.js developer. currently located in ' + location)

block content
    header.header
        .top-bar.container-fluid
            .actions
                a.btn.btn-raised.btn-default.hidden-xs(href='mailto:contact@jordi-fernandez.com')
                    i.fa.fa-paper-plane(aria-hidden='true')
                    |  Hire Me
                a.btn.btn-raised.btn-default(href='#')
                    i.fa.fa-download(aria-hidden='true')
                    |  Download My Resume
            ul.social.list-inline
                li
                    a(href=links.linkedin)
                        i.fa.fa-linkedin(aria-hidden='true')
                li
                    a(href=links.twitter)
                        i.fa.fa-twitter(aria-hidden='true')
                li
                    a(href=links.github)
                        i.fa.fa-github-alt(aria-hidden='true')
                li
                    a(href=links.skype)
                        i.fa.fa-skype(aria-hidden='true')
        .intro
            .container.text-center
                img.profile-image(src='/images/profile-picture.jpg', alt='')
                h1.name.white Jordi Fernandez
                .title Full Stack Developer
                .profile
                    p.white
                        | Profile info goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet.
        .contact-info
            .container.text-center
                ul.list-inline.white
                    li.email.mr30
                        i.fa.fa-envelope
                        a(href='mailto:contact@jordi-fernandez.com') contact@jordi-fernandez.com
                    li.phone.mr30
                        i.fa.fa-phone
                        a(href='#') +336-8817-7715
                    li.website
                        i.fa.fa-globe
                        a(href='#', target='_blank') jordi-fernandez.com
        .bs-component
            .navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    .navbar-collapse.collapse.navbar-responsive-collapse
                        ul.nav.navbar-nav.middle
                            li.active
                                a(href='javascript:void(0)') Experiences
                            li
                                a(href='javascript:void(0)') Education
                            li
                                a(href='javascript:void(0)') Skills
                            li
                                a(href='javascript:void(0)') Testimonials
                            li
                                a(href='javascript:void(0)') Portfolio
                            li
                                a(href='javascript:void(0)') Contact
    .wrapper.container
        section#experiences-section.experiences-section.section
            h2.section-title Work Experiences
            .timeline
                each item in experiences
                    .item
                        .work-place
                            h3.place #{item.workplace}
                            .location
                                i.fa.fa-map-marker(aria-hidden='true')
                                | #{item.location}
                        .job-meta
                            .title #{item.title}
                            .time #{item.startDate} - #{item.endDate}
                        .job-desc
                            p
                                | #{item.description}
        section#education-section.education-section.section
            h2.section-title Education
            .row
                each item in education
                    .item.col-xs-12.col-sm-4
                        .item-inner
                            h3.degree #{item.title}
                            .education-content
                                .education-body
                                    | #{item.school}
                                .time #{item.startDate} - #{item.endDate}
                                .desc
                                    | #{item.description}
        section#skills-section.skills-section.section.text-center
            h2.section-title Professional Skills
            .top-skills
                h3.subtitle Top Skills
                .row
                    each item in skills.mains
                        .item.col-xs-12.col-sm-4
                            .item-inner
                                .chart-easy-pie.text-center
                                    .chart(data-percent=item.mastery)
                                        span #{item.mastery}
                                        | %
                                        canvas(height='110', width='110')
                                h4.skill-name #{item.name}
                                .level #{item.level}, #{item.years} years
                                .desc
                                    | #{item.description}
                    .other-skills
                        h3.subtitle Other Skills
                        .misc-skills
                            each item, index in skills.secondaries
                                span.skill-tag #{item.name}
                                if(index%5 == 4)
                                    br
        section#portfolio-section.portfolio-section.section
            h2.section-title Portfolio
            ul#filters.filters.clearfix
                li.type.active(data-filter='*') All
                li.type(data-filter='.backend') Back-end
                li.type(data-filter='.frontend') Front-end
            .items-wrapper.isotope.row
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/cafedulevant.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Café du Levant
                            .meta Wordpress
                            .action
                                a(href='#') View
                        a.link-mask(href='#')
                .item.backend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/chateauhautenauve.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Chateau Haute Nauve
                            .meta Wordpress
                            .action
                                a(href='#') View on Github
                        a.link-mask(href='#')
                .item.backend.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/chefsandwines.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Chefs and Wines
                            .meta Drupal
                            .action
                                a(href='#') View
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/lemag.png', alt='')                            
                        .content.text-left
                            h3.sub-title
                                a(href='#') Le Mag
                            .meta Wordpress
                            .action
                                a(href='#') View on Github
                        a.link-mask(href='#')
                .item.backend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/maisoncaprais.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Maison Caprais
                            .meta Symfony 2.8
                            .action
                                p.hidden(href='#') View
                        a.link-mask(href='#')
                .item.backend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/myartmakers.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') MyArtMakers
                            .meta Symfony 2.8 / Node.js
                            .action
                                a(href='#') View
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/normatech.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Normatech
                            .meta Symfony 2.8
                            .action
                                a(href='#') View
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/octocat2.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Réseau RVP
                            .meta Symfony 2.8 / Vue.js
                            .action
                                a Offline
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/octocat3.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') This website
                            .meta Node.js
                            .action
                                a(href='#') View on github
                        a.link-mask(href='#')
        section#contact-section.contact-section.section
            h2.section-title Get in Touch
            .intro
                img.profile-image(src='/images/profile-picture.jpg', alt='')
                .dialog
                    p
                        | I'm currently taking on freelance work. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                    p.mt35
                        strong I can help with the following:
                    ul.list-unstyled.service-list
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  App development with ReactJS
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Front-end development with AngularJS
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Back-end development with Django/Python
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  UI development
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  UX prototyping
                    //- p
                    //-     | Drop me a line at 
                    //-     a(href='mailto:someone@example.com') james.doe@website.com
                    //-     |  or call me at 
                    //-     a(href='tel:01234567890') 0123 456 7890
                    ul.social.list-inline.mt35
                        li
                            a(href=links.linkedin)
                                i.fa.fa-linkedin(aria-hidden='true')
                        li
                            a(href=links.twitter)
                                i.fa.fa-twitter(aria-hidden='true')
                        li
                            a(href=links.github)
                                i.fa.fa-github-alt(aria-hidden='true')
                        li
                            a(href=links.skype)
                                i.fa.fa-skype(aria-hidden='true')
block footer
    .footer.text-center
        .container
            small.copyright
                | Copyright @ 
                a(href='https://jordi-fernandez.com/', target='_blank') 
                    strong Jordi Fernandez
    script(src='/javascripts/jquery.easypiechart.min.js')
    script(src='/javascripts/imagesloaded.pkgd.min.js')
    script(src='/javascripts/isotope.pkgd.min.js')
    script.
        $(function() {
            $('.chart').easyPieChart({
                barColor: '#c2185b',
                scaleColor: false
            });

            /* ======= Isotope plugin ======= */
            /* Ref: http://isotope.metafizzy.co/ */
            // init Isotope    
            var $container = $('.isotope');

            $container.imagesLoaded(function () {
                $('.isotope').isotope({
                    itemSelector: '.item'
                });
            });

            // filter items on click
            $('#filters').on( 'click', '.type', function() {
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

            // change is-checked class on buttons
            $('.filters').each( function( i, typeGroup ) {
                var $typeGroup = $( typeGroup );
                $typeGroup.on( 'click', '.type', function() {
                    $typeGroup.find('.active').removeClass('active');
                    $( this ).addClass('active');
                });
            });
        });
