extends layout

block meta
    meta(name='Description', content='Jordi Fernandez, Symfony and Node.js developer. currently located in ' + location)

block content
    header.header
        .top-bar.container-fluid
            .actions
                a.btn.btn-raised.btn-default.hidden-xs(href='mailto:'+contacts.email)
                    i.fa.fa-paper-plane(aria-hidden='true')
                    |  Hire Me
                a.btn.btn-raised.btn-default(href='#')
                    i.fa.fa-download(aria-hidden='true')
                    |  Download My Resume
            ul.social.list-inline
                each link, key in links
                    li
                        a(href=link)
                            i(class='fa fa-'+key, aria-hidden='true')
        .intro
            .container.text-center
                img.profile-image(src='/images/profile-picture.jpg', alt='')
                h1.name.white Jordi Fernandez
                .title Full Stack Developer
                .profile
                    p.white
                        | Passionate and experienced <strong>freelance developer</strong> (for over 4 years), I put my skills and my expertise 
                        at your service and offer a high quality work. My knowledge in <strong>web</strong> and <strong>mobile development</strong> 
                        will allow me to suggest adequate technical solutions. In addition, I always thrive to learn new skills and try to stay as 
                        updated as possible with the latest trends in web development : I am currently working on multiple personal projects to 
                        experiment on different things, such as <strong>ReactJS</strong> or <strong>Symfony</strong> latest version !
            .container.text-center
                ul.list-inline.white
                    li.email.mr30
                        i.fa.fa-envelope.mr10
                        a(href='mailto:'+contacts.email) #{contacts.email}
                    li.phone.mr30
                        i.fa.fa-phone.mr10
                        a(href='tel:'+contacts.phone) #{contacts.phone2}
                    li.website
                        i.fa.fa-globe.mr10
                        a(href='#', target='_blank') #{contacts.website}
        .bs-component
            #navbar.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    .navbar-collapse.collapse.navbar-responsive-collapse
                        ul.nav.navbar-nav.middle
                            li.active
                                a(href='#experiences-section') Experiences
                            li
                                a(href='#education-section') Education
                            li
                                a(href='#skills-section') Skills
                            li
                                a(href='#portfolio-section') Portfolio
                            li
                                a(href='#contact-section') Contact
    .wrapper.container
        section#experiences-section.experiences-section.section
            h2.section-title Work Experiences
            .timeline
                each item in experiences
                    .item
                        .work-place
                            h3.place #{item.workplace}
                            .location
                                i.fa.fa-map-marker(aria-hidden='true')
                                | #{item.location}
                        .job-meta
                            .title #{item.title}
                            .time #{item.startDate} - #{item.endDate}
                        .job-desc
                            p
                                | !{item.description}
        section#education-section.education-section.section
            h2.section-title Education
            .row
                each item in education
                    .item.col-xs-12.col-sm-4
                        .item-inner
                            h3.degree #{item.title}
                            .education-content
                                .education-body
                                    | #{item.school}
                                .time #{item.startDate} - #{item.endDate}
                                .desc
                                    | !{item.description}
        section#skills-section.skills-section.section.text-center
            h2.section-title Professional Skills
            .top-skills
                h3.subtitle Top Skills
                .row
                    each item in skills.mains
                        .item.col-xs-12.col-sm-4
                            .item-inner
                                .chart-easy-pie.text-center
                                    .chart(data-percent=item.mastery)
                                        span #{item.mastery}
                                        | %
                                        canvas(height='110', width='110')
                                h4.skill-name #{item.name}
                                .level #{item.level}, #{item.years} years
                                .desc
                                    | !{item.description}
                    .other-skills.col-xs-12
                        h3.subtitle Other Skills
                        .misc-skills
                            each item, index in skills.secondaries
                                span.skill-tag #{item.name}
                                if(index%5 == 4)
                                    br
        section#portfolio-section.portfolio-section.section
            h2.section-title Portfolio
            ul#filters.filters.clearfix
                li.type.active(data-filter='*') All
                li.type(data-filter='.backend') Back-end
                li.type(data-filter='.frontend') Front-end
            .items-wrapper.isotope.row
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/cafedulevant.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='http://cafedulevant.fr/') Café du Levant
                            .meta Wordpress
                            .action
                                a(href='http://cafedulevant.fr/') View
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/chateauhautenauve.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='http://www.chateauhaute-nauve.fr/') Chateau Haute Nauve
                            .meta Wordpress
                            .action
                                a(href='http://www.chateauhaute-nauve.fr/') View
                        a.link-mask(href='#')
                .item.backend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/chefsandwines.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='http://chefsandwines.com/') Chefs and Wines
                            .meta Drupal
                            .action
                                a(href='http://chefsandwines.com/') View
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/lemag.png', alt='')                            
                        .content.text-left
                            h3.sub-title
                                a(href='http://www.myartmakers.com/le-mag/') Le Mag
                            .meta Wordpress
                            .action
                                a(href='http://www.myartmakers.com/')
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/maisoncaprais.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Maison Caprais
                            .meta Symfony 2.8
                            .action
                                p.hidden(href='#') OFFLINE
                        a.link-mask(href='#')
                .item.backend.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/myartmakers.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='http://www.myartmakers.com/') MyArtMakers
                            .meta Symfony 2.8 / Node.js
                            .action
                                a(href='http://www.myartmakers.com/') View
                        a.link-mask(href='#')
                .item.backend.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/normatech.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='https://www.normatech.org/') Normatech
                            .meta Symfony 2.8
                            .action
                                a(href='https://www.normatech.org/') View
                        a.link-mask(href='#')
                .item.backend.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/octocat2.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') Réseau RVP
                            .meta Symfony 2.8 / Vue.js
                            .action
                                a Offline
                        a.link-mask(href='#')
                .item.frontend.col-md-4.col-xs-6.mb35
                    .item-inner
                        figure.figure
                            img.img-responsive(src='/images/references/octocat3.png', alt='')
                        .content.text-left
                            h3.sub-title
                                a(href='#') This website
                            .meta Express.js
                            .action
                                a(href='https://github.com/Yunyun548/PersonalWebsite') View on github
                        a.link-mask(href='#')
        section#contact-section.contact-section.section
            h2.section-title Get in Touch
            .intro
                img.profile-image(src='/images/profile-picture.jpg', alt='')
                .dialog
                    p
                        | I'm currently taking on freelance work. Wether you are an agency, a professional, or a graphic designer, Feel free to contact 
                        me so we can discuss about your project. Because my work doesn't stop with the code I analyze your requirements and 
                        constraints before suggesting a solution. I will always try to chose and offer a flexible and scalable solution suited 
                        to your needs without ignoring the maintenance costs !
                    p.mt35
                        strong I can help with the following:
                    ul.list-unstyled.service-list
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  App development with ReactJS
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Front-end development with Vue.js
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Back-end development with Symfony
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Back-end development with Express.js
                        li
                            i.fa.fa-check(aria-hidden='true')
                            |  Webserver Configuration/maintenance
                    p
                        | Drop me a line at 
                        a(href='mailto:'+contacts.email) #{contacts.email}
                        |  or call me at 
                        a(href='tel:'+contacts.phone) #{contacts.phone2}
                    ul.social.list-inline.mt35
                        each link, key in links
                            li
                                a(href=link)
                                    i(class='fa fa-'+key, aria-hidden='true')
block footer
    .footer.text-center
        .container
            small.copyright
                | Copyright @ 
                a(href=''+contacts.website, target='_blank') 
                    strong Jordi Fernandez
    script(src='/javascripts/jquery.easypiechart.min.js')
    script(src='/javascripts/imagesloaded.pkgd.min.js')
    script(src='/javascripts/isotope.pkgd.min.js')
    script.
        $(function() {
            $('.chart').easyPieChart({
                barColor: '#c2185b',
                scaleColor: false
            });

            /* ======= Isotope plugin ======= */
            /* Ref: http://isotope.metafizzy.co/ */
            // init Isotope    
            var $container = $('.isotope');

            $container.imagesLoaded(function () {
                $('.isotope').isotope({
                    itemSelector: '.item'
                });
            });

            // filter items on click
            $('#filters').on( 'click', '.type', function() {
                var filterValue = $(this).attr('data-filter');
                $container.isotope({ filter: filterValue });
            });

            // change is-checked class on buttons
            $('.filters').each( function( i, typeGroup ) {
                var $typeGroup = $( typeGroup );
                $typeGroup.on( 'click', '.type', function() {
                    $typeGroup.find('.active').removeClass('active');
                    $( this ).addClass('active');
                });
            });

            var navbar = document.getElementById('navbar');
            var navbarPos = navbar.offsetTop;
            $(window).scroll(function () {  
                if ($(window).scrollTop() > navbarPos) {
                    navbar.classList.add('navbar-fixed-top');
                }
                if ($(window).scrollTop() < (navbarPos+1)) {
                    navbar.classList.remove('navbar-fixed-top');
                }
            });

            $(document).on("scroll", onScroll);

            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();
                $(document).off("scroll");

                $('a').each(function () {
                    $(this).removeClass('active');
                })
                $(this).addClass('active');

                var target = this.hash,
                    menu = target;
                $target = $(target);
                
                $('html, body').stop().animate({
                    'scrollTop': $target.offset().top-75
                }, 500, 'swing', function () {
                    window.location.hash = target;
                    $(document).on("scroll", onScroll);
                });
            });
            
            function onScroll(event){
                var scrollPos = $(document).scrollTop();
                $('#navbar a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));
                    if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                        $('#navbar ul li a').parent().removeClass("active");
                        currLink.parent().addClass("active");
                    }
                    else{
                        currLink.parent().removeClass("active");
                    }
                });
            }
        });
